* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color:aliceblue
}

#title {
    text-align: center;
}

#indexList {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px;
}

#homeLinkContainer {
    text-align: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}